/* .themify_builder_2958_row.module_row_0 Style */
.themify_builder_2958_row.module_row_0.module_row {
	background-image: url(http://themify.me/demo/themes/corporate/files/2014/09/golden_gate_bridge.jpg);
	background-color: #000000;
	color: #ffffff
}
.themify_builder_2958_row.module_row_0.module_row a {
	color: #ffffff
}
.themify_builder_2958_row.module_row_0.module_row h1 {
	color: #ffffff
}
.themify_builder_2958_row.module_row_0.module_row h2 {
	color: #ffffff
}
.themify_builder_2958_row.module_row_0.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_2958_row.module_row_0.module_row h4 {
	color: #ffffff
}
.themify_builder_2958_row.module_row_0.module_row h5 {
	color: #ffffff
}
.themify_builder_2958_row.module_row_0.module_row h6 {
	color: #ffffff
}

/* .themify_builder_2958_row.module_row_1 Style */
.themify_builder_2958_row.module_row_1.module_row {
	padding-top : 5%;
	padding-bottom : 5%
}

.themify_builder .text-2958-1-0-0.module-text { padding-bottom: 0px; margin-bottom: -30px;  } 
/* .themify_builder_2958_row.module_row_2 Style */
.themify_builder_2958_row.module_row_2.module_row {
	padding-bottom : 4%
}

/* .themify_builder_2958_row.module_row_3 Style */
.themify_builder_2958_row.module_row_3.module_row {
	background-color: #4d86c7;
	color: #ffffff;
	padding-top : 5%;
	padding-bottom : 5%
}
.themify_builder_2958_row.module_row_3.module_row a {
	color: #ffffff
}
.themify_builder_2958_row.module_row_3.module_row h1 {
	color: #ffffff
}
.themify_builder_2958_row.module_row_3.module_row h2 {
	color: #ffffff
}
.themify_builder_2958_row.module_row_3.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_2958_row.module_row_3.module_row h4 {
	color: #ffffff
}
.themify_builder_2958_row.module_row_3.module_row h5 {
	color: #ffffff
}
.themify_builder_2958_row.module_row_3.module_row h6 {
	color: #ffffff
}

/* .themify_builder_2958_row.module_row_4 Style */
.themify_builder_2958_row.module_row_4.module_row {
	padding-top : 20px
}

.themify_builder .text-2958-4-0-0.module-text { padding-top: 0px;  } 
/* .themify_builder_2958_row.module_row_5 Style */
.themify_builder_2958_row.module_row_5.module_row {
	padding-top : 5%
}

.themify_builder .text-2958-5-1-0.module-text { padding-top: 6%;  } 
