/* .themify_builder_2557_row.module_row_0 Style */
.themify_builder_2557_row.module_row_0.module_row {
	background-image: url(http://themify.me/demo/themes/corporate/files/2014/09/193500593_2-1024x715.jpg);
	background-color: #695c51;
	color: #ffffff;
	padding-top : 16%
}
.themify_builder_2557_row.module_row_0.module_row a {
	color: #ffffff
}
.themify_builder_2557_row.module_row_0.module_row h1 {
	color: #ffffff
}
.themify_builder_2557_row.module_row_0.module_row h2 {
	color: #ffffff
}
.themify_builder_2557_row.module_row_0.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_2557_row.module_row_0.module_row h4 {
	color: #ffffff
}
.themify_builder_2557_row.module_row_0.module_row h5 {
	color: #ffffff
}
.themify_builder_2557_row.module_row_0.module_row h6 {
	color: #ffffff
}

.themify_builder .text-2557-0-0-0.module-text { color: #ffffff;  } 
.themify_builder .text-2557-0-0-0.module-text h1 { color: #ffffff;  } 
.themify_builder .text-2557-0-0-0.module-text h2 { color: #ffffff;  } 
.themify_builder .text-2557-0-0-0.module-text h3:not(.module-title) { color: #ffffff;  } 
.themify_builder .text-2557-0-0-0.module-text h4 { color: #ffffff;  } 
.themify_builder .text-2557-0-0-0.module-text h5 { color: #ffffff;  } 
.themify_builder .text-2557-0-0-0.module-text h6 { color: #ffffff;  } 
.themify_builder .image-2557-0-1-0.module-image { margin-top: 4%;  } 
/* .themify_builder_2557_row.module_row_1 Style */
.themify_builder_2557_row.module_row_1.module_row {
	background-color: #c3d9db;
	color: #000000;
	padding-top : 4%
}
.themify_builder_2557_row.module_row_1.module_row a {
	color: #000000
}
.themify_builder_2557_row.module_row_1.module_row h1 {
	color: #000000
}
.themify_builder_2557_row.module_row_1.module_row h2 {
	color: #000000
}
.themify_builder_2557_row.module_row_1.module_row h3:not(.module-title) {
	color: #000000
}
.themify_builder_2557_row.module_row_1.module_row h4 {
	color: #000000
}
.themify_builder_2557_row.module_row_1.module_row h5 {
	color: #000000
}
.themify_builder_2557_row.module_row_1.module_row h6 {
	color: #000000
}

.themify_builder .text-2557-1-0-0.module-text { color: #000000; text-align: center; padding-bottom: 15px;  } 
.themify_builder .text-2557-1-0-0.module-text h1 { color: #000000;  } 
.themify_builder .text-2557-1-0-0.module-text h2 { color: #000000;  } 
.themify_builder .text-2557-1-0-0.module-text h3:not(.module-title) { color: #000000;  } 
.themify_builder .text-2557-1-0-0.module-text h4 { color: #000000;  } 
.themify_builder .text-2557-1-0-0.module-text h5 { color: #000000;  } 
.themify_builder .text-2557-1-0-0.module-text h6 { color: #000000;  } 
/* .themify_builder_2557_row.module_row_2 Style */
.themify_builder_2557_row.module_row_2.module_row {
	background-color: #c3d9db;
	padding-bottom : 4%
}

.themify_builder .box-2557-2-0-0.module-box .module-box-content { background-color: #ffffff; color: #000000;  } 
.themify_builder .box-2557-2-0-0.module-box { text-align: center; margin-bottom: 20px;  } 
.themify_builder .box-2557-2-1-0.module-box .module-box-content { background-color: #ffffff; color: #000000; padding-bottom: 20px;  } 
.themify_builder .box-2557-2-1-0.module-box { text-align: center;  } 
.themify_builder .box-2557-2-2-0.module-box .module-box-content { background-color: #ffffff; color: #000000;  } 
.themify_builder .box-2557-2-2-0.module-box { text-align: center; margin-bottom: 20px;  } 
/* .themify_builder_2557_row.module_row_3 Style */
.themify_builder_2557_row.module_row_3.module_row {
	background-color: #ffffff;
	padding-top : 5%;
	padding-bottom : 5%
}

.themify_builder .text-2557-3-0-0.module-text { color: #000000; padding-top: 15%;  } 
.themify_builder .text-2557-3-0-0.module-text h1 { color: #000000;  } 
.themify_builder .text-2557-3-0-0.module-text h2 { color: #000000;  } 
.themify_builder .text-2557-3-0-0.module-text h3:not(.module-title) { color: #000000;  } 
.themify_builder .text-2557-3-0-0.module-text h4 { color: #000000;  } 
.themify_builder .text-2557-3-0-0.module-text h5 { color: #000000;  } 
.themify_builder .text-2557-3-0-0.module-text h6 { color: #000000;  } 
/* .themify_builder_2557_row.module_row_4 Style */
.themify_builder_2557_row.module_row_4.module_row {
	background-color: #54cca2;
	padding-top : 60px;
	padding-bottom : 60px
}

.themify_builder .text-2557-4-0-0.module-text { color: #ffffff; text-align: center; padding-top: 5%; padding-right: 10%; padding-bottom: 5%; padding-left: 10%;  } 
.themify_builder .text-2557-4-0-0.module-text h1 { color: #ffffff;  } 
.themify_builder .text-2557-4-0-0.module-text h2 { color: #ffffff;  } 
.themify_builder .text-2557-4-0-0.module-text h3:not(.module-title) { color: #ffffff;  } 
.themify_builder .text-2557-4-0-0.module-text h4 { color: #ffffff;  } 
.themify_builder .text-2557-4-0-0.module-text h5 { color: #ffffff;  } 
.themify_builder .text-2557-4-0-0.module-text h6 { color: #ffffff;  } 
/* .themify_builder_2557_row.module_row_5 Style */
.themify_builder_2557_row.module_row_5.module_row {
	padding-top : 4%;
	padding-bottom : 0px
}

.themify_builder .text-2557-5-0-0.module-text { background-color: #ffffff; color: #000000; text-align: center; margin-bottom: 30px;  } 
.themify_builder .text-2557-5-0-0.module-text h1 { color: #000000;  } 
.themify_builder .text-2557-5-0-0.module-text h2 { color: #000000;  } 
.themify_builder .text-2557-5-0-0.module-text h3:not(.module-title) { color: #000000;  } 
.themify_builder .text-2557-5-0-0.module-text h4 { color: #000000;  } 
.themify_builder .text-2557-5-0-0.module-text h5 { color: #000000;  } 
.themify_builder .text-2557-5-0-0.module-text h6 { color: #000000;  } 
.themify_builder .image-2557-5-0-1.module-image .image-content { text-align: center;  } 
/* .themify_builder_2557_row.module_row_6 Style */
.themify_builder_2557_row.module_row_6.module_row {
	background-color: #7b4fbd;
	text-align: center;
	padding-right : 5%;
	padding-left : 5%
}

.themify_builder .text-2557-6-0-0.module-text { color: #ffffff; text-align: center; padding-top: 40px; padding-bottom: 40px;  } 
.themify_builder .text-2557-6-0-0.module-text h1 { color: #ffffff;  } 
.themify_builder .text-2557-6-0-0.module-text h2 { color: #ffffff;  } 
.themify_builder .text-2557-6-0-0.module-text h3:not(.module-title) { color: #ffffff;  } 
.themify_builder .text-2557-6-0-0.module-text h4 { color: #ffffff;  } 
.themify_builder .text-2557-6-0-0.module-text h5 { color: #ffffff;  } 
.themify_builder .text-2557-6-0-0.module-text h6 { color: #ffffff;  } 
/* .themify_builder_2557_row.module_row_7 Style */
.themify_builder_2557_row.module_row_7.module_row {
	background-color: #64b3b3;
	color: #ffffff;
	padding-top : 5%;
	padding-bottom : 4%
}
.themify_builder_2557_row.module_row_7.module_row a {
	color: #ffffff
}
.themify_builder_2557_row.module_row_7.module_row h1 {
	color: #ffffff
}
.themify_builder_2557_row.module_row_7.module_row h2 {
	color: #ffffff
}
.themify_builder_2557_row.module_row_7.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_2557_row.module_row_7.module_row h4 {
	color: #ffffff
}
.themify_builder_2557_row.module_row_7.module_row h5 {
	color: #ffffff
}
.themify_builder_2557_row.module_row_7.module_row h6 {
	color: #ffffff
}

.themify_builder .text-2557-7-0-0.module-text { text-align: center;  } 
