/* .themify_builder_106_row.module_row_0 Style */
.themify_builder_106_row.module_row_0.module_row {
	background-image: url(http://themify.me/demo/themes/corporate/files/2014/08/zuerich_airport.jpg);
	background-color: #ffffff;
	color: #ffffff;
	padding-top : 200px;
	padding-bottom : 200px
}
.themify_builder_106_row.module_row_0.module_row h1 {
	color: #ffffff
}
.themify_builder_106_row.module_row_0.module_row h2 {
	color: #ffffff
}
.themify_builder_106_row.module_row_0.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_106_row.module_row_0.module_row h4 {
	color: #ffffff
}
.themify_builder_106_row.module_row_0.module_row h5 {
	color: #ffffff
}
.themify_builder_106_row.module_row_0.module_row h6 {
	color: #ffffff
}

/* .themify_builder_106_row.module_row_1 Style */
.themify_builder_106_row.module_row_1.module_row {
	background-color: #ffffff;
	color: #000000;
	padding-top : 5%;
	margin-bottom : 0px
}
.themify_builder_106_row.module_row_1.module_row h1 {
	color: #000000
}
.themify_builder_106_row.module_row_1.module_row h2 {
	color: #000000
}
.themify_builder_106_row.module_row_1.module_row h3:not(.module-title) {
	color: #000000
}
.themify_builder_106_row.module_row_1.module_row h4 {
	color: #000000
}
.themify_builder_106_row.module_row_1.module_row h5 {
	color: #000000
}
.themify_builder_106_row.module_row_1.module_row h6 {
	color: #000000
}

.themify_builder .text-106-1-0-0.module-text { margin-top: 150px;  } 
.themify_builder .text-106-1-1-0.module-text { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;  } 
/* .themify_builder_106_row.module_row_2 Style */
.themify_builder_106_row.module_row_2.module_row {
	background-color: #c4df9b;
	color: #000000;
	padding-top : 150px;
	padding-bottom : 150px
}
.themify_builder_106_row.module_row_2.module_row h1 {
	color: #000000
}
.themify_builder_106_row.module_row_2.module_row h2 {
	color: #000000
}
.themify_builder_106_row.module_row_2.module_row h3:not(.module-title) {
	color: #000000
}
.themify_builder_106_row.module_row_2.module_row h4 {
	color: #000000
}
.themify_builder_106_row.module_row_2.module_row h5 {
	color: #000000
}
.themify_builder_106_row.module_row_2.module_row h6 {
	color: #000000
}

.themify_builder .text-106-2-1-0.module-text { margin-top: 100px;  } 
/* .themify_builder_106_row.module_row_3 Style */
.themify_builder_106_row.module_row_3.module_row {
	background-image: url(http://themify.me/demo/themes/corporate-dev/files/2014/08/wood_pat.jpg);
	color: #ffffff;
	padding-top : 9%;
	padding-bottom : 9%
}
.themify_builder_106_row.module_row_3.module_row h1 {
	color: #ffffff
}
.themify_builder_106_row.module_row_3.module_row h2 {
	color: #ffffff
}
.themify_builder_106_row.module_row_3.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_106_row.module_row_3.module_row h4 {
	color: #ffffff
}
.themify_builder_106_row.module_row_3.module_row h5 {
	color: #ffffff
}
.themify_builder_106_row.module_row_3.module_row h6 {
	color: #ffffff
}

/* .themify_builder_106_row.module_row_4 Style */
.themify_builder_106_row.module_row_4.module_row {
	background-color: #74d7fc;
	color: #000000;
	padding-top : 5%;
	padding-bottom : 2%;
	margin-bottom : 0px
}
.themify_builder_106_row.module_row_4.module_row h1 {
	color: #000000
}
.themify_builder_106_row.module_row_4.module_row h2 {
	color: #000000
}
.themify_builder_106_row.module_row_4.module_row h3:not(.module-title) {
	color: #000000
}
.themify_builder_106_row.module_row_4.module_row h4 {
	color: #000000
}
.themify_builder_106_row.module_row_4.module_row h5 {
	color: #000000
}
.themify_builder_106_row.module_row_4.module_row h6 {
	color: #000000
}

.themify_builder .text-106-4-0-0.module-text { padding-top: 10%;  } 
